<p id="notice"><%= notice %></p>

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Store image:</strong>
  <%= @store.store_image %>
</p>

<p>
  <strong>Store location:</strong>
  <%= @store.store_location %>
</p>

 <div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Product Aisle Number</th>
    <th></th>
  </thead>
  <tbody>
	<%= render @store.products %>
  </tbody>
  </table>
</div>
	<div id="form">
		<%= render "products/form" %>
	</div>
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
